

@font-face {
  src: url('../assets/fonts/PublicSans-Roman-VF.woff2');
  font-family: Public Sans VF;
  font-style: normal;
}

@font-face {
  src: url('../assets/fonts/PublicSans-Italic-VF.woff2');
  font-family: Public Sans VF;
  font-style: italic;
}

body {
  font-family: Public Sans VF;
}

div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input {
  font-weight: 500 !important;
  text-overflow: ellipsis;
}

button:focus {
  outline: none;
}
